:local {
  [data-theme='default'] {
    --settiings-app-help-txt-color: hsl(0, 0%, 30%);
  }

  [data-theme='dark'] {
    --settiings-app-help-txt-color: hsl(0, 0%, 60%);
  }

  .header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 21px;
    width: 100%;

    > span {
      width: 100%;
    }

    .headerActions {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 100%;
      margin: 0 auto 0 0;

      > span {
        color: var(--contact-header-info-color);
        font-size: 16px;
        font-weight: 400;
        margin-right: 10px;
        text-transform: none;
      }
    }
  }

  .appSettings {
    .setting {
      margin-bottom: 50px;
      > header {
        > h3 {
          text-transform: capitalize;
        }
        > .help {
          margin-top: 15px;
          color: var(--settiings-app-help-txt-color);
        }
      }

      .content {
        list-style: none;
        margin-top: 50px;

        > li {
          display: flex;
          flex-direction: row;
          align-content: center;
          align-items: flex-start;
          margin-bottom: 25px;

          > label {
            > span {
              margin-bottom: 15px;
            }
          }

          > span {
            margin-left: 25px;
            margin-top: 3px;
            text-transform: capitalize;
          }
        }
      }
    }
  }
}
